body {
    font-family: sans-serif;
}

.generator-container {
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
}

#results {
    padding: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;
}
